@use 'reset';

$font-main: Roboto, sans-serif;
$font-mono: "Roboto Mono", sans-serif;

%header-buttons {
  display: flex;
  gap: 8px;
}

%button {
  border: none;
  height: 36px;
  width: 36px;
  padding: 4px;
  fill: #fff;
}

.container {
  font-family: $font-main;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: #24252D;
  padding: 8px 1vw;
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-logo {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
}

.viewmode-buttons {
  @extend %header-buttons;
}

.header-button {
  @extend %button;
  background: none;
}

.header-button:hover {
  border-radius: 5px;
  background: #36383E;
}

.header-button_focused {
  @extend %button;
  border-radius: 5px;
  background: #6A6F82;
}

.tabs {
  display: none;
}

@media (max-width: 500px) {
  .viewmode-buttons {
    display: none;
  }

  .tabs {
    display: flex;
    align-items: center;    
  }

  .tabs-tab {
    flex-basis: 100%;
    border: none;
    padding: 8px 1vw;
    text-align: start;
    font-family: $font-main;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
  }

  .tabs-tab:nth-child(1) {
    background: #3E455F;
  }

  .tabs-tab:nth-child(2) {
    background: #50577A;
  }
}

