$font-main: Roboto, sans-serif;
$font-mono: "Roboto Mono", sans-serif;

$common-paddings: 8px 1vw;

%header-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
}

%button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 36px;
  width: 36px;
  padding: 4px;
  fill: #fff;
}

%pane {
  overflow: auto;
  flex-basis: 100%;
  padding: $common-paddings;
  color: #fff;
}

%align-center {
  display: flex;
  align-items: center;
}

%modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  border-radius: 5px;
  background: #24252D;
  color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

%heading {
  margin: 0;
  padding: 0;
}

@mixin modal-button($bg) {
  background: $bg;
  color: #fff;
  font-size: 1rem;
  font-family: $font-main;
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  font-family: $font-main;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: #24252D;
  padding: $common-paddings;
  @extend %align-center;
  gap: 24px;
}

.header-logo {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
}

.viewmode-buttons {
  @extend %header-buttons;
}

.edit-buttons {
  @extend %header-buttons;
  margin-left: auto;
}

.header-button {
  @extend %button;
  background: none;
}

.header-button:hover {
  border-radius: 5px;
  background: #36383E;
}

.header-button_focused {
  @extend %button;
  border-radius: 5px;
  background: #6A6F82;
}

.tabs {
  display: none;
}

.main {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.editor {
  @extend %pane;
  border-radius: 0;
  -webkit-appearance: none;
  overflow: auto;
  resize: none;
  border: none;
  outline: none;
  font-family: $font-mono;
  font-size: 1rem;
  font-weight: 500;
  background: #3E455F;
}

.editor::placeholder {
  color: #fff;
}

.preview {
  @extend %pane;
  max-height: 90vh;
  background: #50577A;
}

.split {
  display: flex;
  height: 100%;
  background: #50577A;
}

.footer {
  padding: 4px 1vw;
  background: #6A6F82;
  @extend %align-center;
}

.footer-link {
  margin-left: auto;
  width: 18px;
  height: 18px;
  fill: #fff;
}

.counter {
  color: #fff;
  font-size: 0.9rem;
}

.clear-modal {
  @extend %modal;
  width: 300px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-buttons {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.clear-button {
  @include modal-button(#C34A4A);
}

.cancel-button {
  @include modal-button(#6A6F82);
}

.cheat-sheet {
  @extend %modal;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cheat-headerbar {
  @extend %align-center;
  justify-content: space-between;
  
  h2 {
    @extend %heading;
    font-size: 1.5rem;
  }

  button {
    background: none;
    border: none;
    padding: 0;
  }
}

.cheat-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 8px;
  max-height: 90vh;
  overflow: auto;
}

.cheat-card {
  display: flex;
  flex-direction: column;
  gap: 4px;

  h3 {
    @extend %heading;
    font-size: 1.2rem;
  }
}

.cheat-example {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background: #36383E;
  border-radius: 5px;
  width: fit-content;

  span {
    line-height: 25px;
  }
}



@media (max-width: 500px) {
  .viewmode-buttons {
    display: none;
  }

  .tabs {
    display: flex;
    align-items: stretch; 
  }

  .tabs-tab {
    flex-basis: 100%;
    border: none;
    padding: $common-paddings;
    text-align: start;
    font-family: $font-main;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
  }

  .tabs-tab:nth-child(1) {
    background: #3E455F;
  }

  .tabs-tab:nth-child(2) {
    background: #50577A;
  }

  .split {
    .preview {
      display: none;
    }
  }

  .clear-modal {
    width: 90vw;
  }

  .modal-buttons {
    button {
      flex-basis: 100%;
    }
  }

  .cheat-sheet {
    width: 90vw;
  }
}

@media (min-width: 1800px) {
  .cheat-body {
    grid-template-columns: repeat(2, 1fr);
  }
}